<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/cch_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Fasha321@</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>


        <mapping class="org.youcode.cch.competition.Competition"/>
        <mapping class="org.youcode.cch.cyclist.Cyclist"/>
        <mapping class="org.youcode.cch.generalResult.GeneralResult"/>
        <mapping class="org.youcode.cch.result.Result"/>
        <mapping class="org.youcode.cch.stage.Stage"/>
        <mapping class="org.youcode.cch.team.Team"/>
    </session-factory>
</hibernate-configuration>